{% extends 'base.html' %}

{% block import %}<!--css파일 import 부분, 해당 폴더 안에있는 static 파일에서 작업-->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/animalGoods.css" %}" >
{% endblock %}

{% block contents%}
<br><br>
<div class = "container">
    <form action="{% url 'create' %}" method ="POST" enctype="multipart/form-data">
       {% csrf_token %}
        <h4>제목: </h4>
        <input type = "text" name="title">
        <br>
        <br>
        <h4>본문 : </h4>
        <textarea cols=40 rows=10 name="body"></textarea>
        <br><br>
        <h4>이미지 :</h4>
        <input type="file" name="image">
        <br><br>
        <input class="btn btn-dark" type="submit" value="보냅니당">
    </form>
</div>
{% endblock %}