{% extends 'base.html' %}
<!--메뉴 가져오기 위해-->

{% block import %}
<!--css파일 import 부분, 해당 폴더 안에있는 static 파일에서 작업-->
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/personal.css" %}?ver=1">
{% endblock %}

{% block contents %}
<!--여기 안에다 코딩 해주시면 됩니다. personal은 로그인 아이디마다 다른 화면이 보이도록 설계해야함. -->
<!--model 만들고 각 유저마다 데이터를 따로 저장하여 보여줘야함.. 어려움-->

<div class="container">
    <!-- Page Heading -->
        <h1 class="my-4">
            <div class="alert alert-light" role="alert">
                <h3>PERSONAL 🐶 🐱</h3>
            </div>
            <a class="alert alert-light" href="{% url 'write' %}" role="button">글쓰기</a>
            <br>
        </h1>

    <!-- Project One -->
    {% for personal in posts %}
    <div class="card">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid rounded mb-3 mb-md-0"
                    style="width:100%; max-width:300px; height:100%; max-height:300px;" src="{{personal.image.url}}"
                    alt="">
            </div>
            <div class="col-md-7">
                <br><br>
                <h3>{{ personal.title }}</h3>
                <h6>{{ personal.pub_date }}</h6>
                <br>
                <p>{{ personal.summary }}</p>
                <br><br>
                <a href="{% url 'detail' personal.id %}" class="stretched-link">자세히 보기</a>
            </div>
        </div>
    </div><br><br>
    {% endfor %}


    <!--Pagination-->
    {%if posts.has_previous%}
    <!--<a class="alert alert-light" href="?page=1" role="button">첫 페이지</a>-->
    <a class="alert alert-light" href="?page={{posts.previous_page_number}}" role="button">이전 페이지</a>
    {%endif%}


    <a class="alert alert-light">
        <span>{{posts.number}}</span>
        <span> / </span>
        <span>{{posts.paginator.num_pages}}</span>
    </a>


    {%if posts.has_next%}
    <a class="alert alert-light" href="?page={{posts.next_page_number}}" role="button">다음 페이지</a>
    <!--<a class="alert alert-light" href="?page={{posts.paginator.num_pages}}" role="button">마지막 페이지</a>-->
    {%endif%}
    <br><br><br>

</div>
{% endblock %}