{% extends 'base.html' %}<!--메뉴 가져오기 위해-->

{% block import %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/signin.css" %}" >
{% endblock %}

{% block contents %}
    <div class="container" style="margin-top:10px;">
        <div class="card">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <div style="text-align:center;">
                    <img class="catsize" src="{% static 'assets/signcat.png' %}" alt="">
                    <img class="dogsize" src="{% static 'assets/signdog.png' %}" alt="">
                    <img style="width:45px;" src="{% static 'assets/signcat1.png' %}" alt="">
                    <img style="width:45px;" src="{% static 'assets/signdog1.png' %}" alt="">
                </div>
                <h4 class="card-title mt-3 text-center">Sign in</h4>
                <p class="text-center">Get started Login</p>
                <p>
                    <a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login Twitter</a>
                    <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login facebook</a>
                </p>
                <hr>
                <form method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                   	<div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="username" class="form-control" placeholder="Email or login" type="email">
                        </div> 
                    </div> 

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="password" class="form-control" placeholder="******" type="password">
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> 
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'signup' %}" class="float-right btn btn-outline-primary">Sign up</a>
                        </div>                                            
                    </div>
                    <p style="color:red;">{{error}}</p>                                                                 
                </form>
            </article>
        </div>
    </div>
{% endblock %}